.payment {
  padding: 20px;
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.payButton {
  padding: 10px 20px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}

.payButton:hover {
  background-color: var(--primary-shade);
}
